<div class="portfolio-page">
    <div class="portfolio-wrap">
        <div class="games">
            <h2>Games</h2>
            <div class="game-links">
                <div class="proj-box tic_tac">
                    <h3 class="proj-name">Tic Tac Toe Game</h3>
                    <div class="proj-description">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                    </div>
                    <div class="proj-btn">
                        <a href="tic_tac_toe-game/">View project</a>
                    </div>
                </div>
                <div class="proj-box maze">
                    <h3 class="proj-name">Maze Game</h3>
                    <div class="proj-description">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                    </div>
                    <div class="proj-btn">
                        <a href="maze_game/">View project</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="lps">
            <h2>Landing Pages</h2>
            <div class="lps-links">
                <div class="proj-box bakery">
                    <h3 class="proj-name">Pink Bakery LP</h3>
                    <div class="proj-description">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                    </div>
                    <div class="proj-btn">
                        <a href="bakery_lp/">View project</a>
                    </div>
                </div>
                <div class="proj-box neto-trade">
                    <h3 class="proj-name">Neto Trade LP</h3>
                    <div class="proj-description">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                    </div>
                    <div class="proj-btn">
                        <a href="neto_trade_lp/">View project</a>
                    </div>
                </div>
                <div ng-if="containers.moreLpContainerShow">
                    <div class="proj-box phone-lp">
                        <h3 class="proj-name">Phones LP</h3>
                        <div class="proj-description">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                        </div>
                        <div class="proj-btn">
                            <a href="big_lp/">View project</a>
                        </div>
                    </div>
                    <div class="proj-box corporatix">
                        <h3 class="proj-name">Corporatix LP</h3>
                        <div class="proj-description">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                        </div>
                        <div class="proj-btn">
                            <a href="corporatix_lp/">View project</a>
                        </div>
                    </div>
                    <div class="proj-box cuda">
                        <h3 class="proj-name">Cuda LP</h3>
                        <div class="proj-description">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                        </div>
                        <div class="proj-btn">
                            <a href="cuda_lp/">View project</a>
                        </div>
                    </div>
                    <div class="proj-box satari">
                        <h3 class="proj-name">Safari LP</h3>
                        <div class="proj-description">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                        </div>
                        <div class="proj-btn">
                            <a href="safari_lp/">View project</a>
                        </div>
                    </div>
                    <div class="proj-box ebook">
                        <h3 class="proj-name">Ebook LP</h3>
                        <div class="proj-description">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                        </div>
                        <div class="proj-btn">
                            <a href="simple-lp/">View project</a>
                        </div>
                    </div>
                </div>

                <div class=" more-btn" id="btn-lp"><a href="" ng-click="showMore('moreLpContainerShow')">More </a></div>
            </div>
        </div>
        <div class="other">
            <h2>Other</h2>
            <div class="other-links">
                <div class="proj-box to-do">
                    <h3 class="proj-name">To Do List</h3>
                    <div class="proj-description">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                    </div>
                    <div class="proj-btn">
                        <a href="js_to_do_list/">View project</a>
                    </div>
                </div>
                <div class="proj-box css-animation">
                    <h3 class="proj-name">Simple Css Animation</h3>
                    <div class="proj-description">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                    </div>
                    <div class="proj-btn">
                        <a href="css_animation1/">View project</a>
                    </div>
                </div>
                <div ng-if="containers.moreOtherShow">
                    <div class="proj-box speedometer">
                        <h3 class="proj-name">Speedometer</h3>
                        <div class="proj-description">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                        </div>
                        <div class="proj-btn">
                            <a href="speedometer/">View project</a>
                        </div>
                    </div>
                    <div class="proj-box animals-gallery">
                        <h3 class="proj-name">Animals Gallery</h3>
                        <div class="proj-description">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                        </div>
                        <div class="proj-btn">
                            <a href="lightbox-gallery/">View project</a>
                        </div>
                    </div>

                </div>
                <div class="more-btn" id="btn-other"><a href="" ng-click="showMore('moreOtherShow')">More </a></div>
            </div>
        </div>
    </div>
</div>